<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Confluence Chat App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./static/styles/style_login.css">

</head>
<body style="background-color:black;">
  <!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <b style='color:red;'>INVALID LOGIN! Please try again.</b>
  <h2>Login to Confluence Chat</h2>
  <form id="login-form" class="login-form" action="/loginValidation" method="post">
    <p>
      <input type="email" class="email_id" id="email" name="email" placeholder="Email Address" pattern="[\w.%+-]+@company\.com" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" class="totp" id="totp" name="totp" placeholder="totp" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="/register">Register</a><p>
    </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
  

</body>
</html>
